@import "./tachyons.scss";
@import "./navbar.scss";

$graphileRed: #e44336;
$postgraphileBlue: #2d80d3;
$backgroundImage: "/images/delaunay.png";

// ----------------------------------------
// Globals

body {
  // @extend .debug-grid;
  font-family: Lato, "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  overflow-x: hidden; // stop horizontal overflows
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .helvetica;
  @extend .lh-title;
  @extend .mt3;
  @extend .measure;
  @extend .fw6;
}
th {
  @extend .helvetica;
}

h1 {
  @extend .mb4-ns;
  @extend .mb3;
}

h2,
h3,
h4,
h5,
h6 {
  @extend .mb3-ns;
  @extend .mb2;
}

.hero {
  h2,
  h3,
  h4,
  h5 {
    @extend .fw4;
  }
}

section {
  position: relative;
}

h1 {
  @extend .f1-ns;
  @extend .f2;
}

h2 {
  @extend .f2-ns;
  @extend .f3;
}

h3 {
  @extend .f3-ns;
  @extend .f4;
}
h4 {
  @extend .f4-ns;
  @extend .f5;
}

h5 {
  @extend .f5-ns;
  @extend .f6;
}

h6 {
  @extend .f6-ns;
  @extend .f7;
}

p {
  color: #464646;
}

p,
.response {
  @extend .f5-ns;
  @extend .f6;
  @extend .lh-copy;
  @extend .measure-wide;
  @extend .mb3-ns;
  @extend .mt3-ns;
}
.template-marketing {
  p,
  .response {
    @extend .measure;
  }
}

.full-width p {
  max-width: none;
}

.big-table table {
  border-spacing: 0px;
  border-collapse: collapse;
}

.big-table th,
.big-table td {
  padding: 6px 20px 6px 0;
}
.big-table th:last-child,
.big-table td:last-child {
  padding: 6px 0 6px 0;
}
.big-table tr {
  padding: 10px 0;
}

.page-content {
  section {
    @extend .bg-white;
    @extend .pt5-ns;
    @extend .pt4;
    @extend .pb5-ns;
    @extend .pb4;
  }
  aside section {
    @extend .pt4;
    @extend .pb0;
  }
}

pre[class*="language-"].br0 {
  border-radius: 0;
}
pre[class*="language-"].pa0 {
  padding: 0;
}
pre[class*="language-"].pa1 {
  padding: 0.25rem;
}
pre[class*="language-"].pa2 {
  padding: 0.5rem;
}
pre[class*="language-"].pa3 {
  padding: 1rem;
}
pre[class*="language-"].f1 {
  font-size: 3rem;
}
pre[class*="language-"].f2 {
  font-size: 2.25rem;
}
pre[class*="language-"].f3 {
  font-size: 1.5rem;
}
pre[class*="language-"].f4 {
  font-size: 1.25rem;
}
pre[class*="language-"].f5 {
  font-size: 1rem;
}
pre[class*="language-"].f6 {
  font-size: 0.875rem;
}
pre[class*="language-"].f7 {
  font-size: 0.75rem;
}

.page-content li,
footer li {
  @extend .f5-ns;
  @extend .f6;
  @extend .lh-copy;
  @extend .mb1;
  @extend .measure;
  &.f6 {
    @extend .f6;
  }
  &.f7 {
    @extend .f7;
  }
}

a {
  @extend .graphile-red;
  @extend .no-underline;
  @extend .underline-hover;
  .postgraphile &,
  .training & {
    @extend .postgraphile-blue;
  }
}

.intro {
  @extend .mb4;
  @extend .avenir;
  @extend .f4;
  @extend .i;
}

.gatsby-resp-image-wrapper[style] {
  z-index: 0 !important;
}

#mce-success-response,
#mce-error-response {
  @extend .avenir;
  @extend .i;
}

#mce-success-response {
  @extend .green;
}

#mce-error-response {
  @extend .red;
}

// ----------------------------------------

.hero-block {
  @extend .flex;
  @extend .flex-column;

  .title {
    @extend .ma0;
    @extend .f-subheadline-m;
    @extend .f-headline-l;
    @extend .lh-title;
    @extend .tracked-tight;
  }
}

.sidebar.sidebar {
  section {
    @extend .pt0;
    @extend .pb0;
  }
}

aside .page-list {
  @extend .pa0;
  a.active {
    color: black;
    text-decoration: underline;
  }
}

aside ul.page-list ul.page-list {
  margin-top: 0.25rem;
  margin-left: 1rem;
}

.template-marketing-hero {
  position: relative;
  overflow: hidden;
  background: linear-gradient(85deg, #a51b1b 0%, #7d2424 100%);

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 200%;
    z-index: 0;
    top: 0;
    left: 70%;
  }
  &:before {
    transform: translate(0, -50%) rotate(-27deg);
    background: #922323;
  }
  &:after {
    transform: translate(0, 0) rotate(27deg);
    background: #9c2828;
  }
}

.template-marketing {
  $triHeight: 20px;
  $backgroundColor: #f4f4f4;

  .hero {
    @extend .template-marketing-hero;
    > .container {
      z-index: 1;
    }
  }

  section:nth-child(even):not(.no-highlight) {
    background-color: $backgroundColor;
  }

  .page-content {
    position: relative;
    z-index: 1;
  }

  section:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $triHeight 100vw $triHeight 0;
    border-color: transparent $backgroundColor transparent transparent;
    top: -1 * $triHeight;
    z-index: 0;
  }

  &.postgraphile .hero {
    background: linear-gradient(85deg, #0e457d 0%, #0e385e 100%);

    &:after {
      background: #0e4c86;
    }

    &:before {
      background: #0c457e;
    }
  }
}

.container {
  @extend .mw9;
}

.template-page {
  min-height: 600px; // 100vh;
  $backgroundColor: #f4f4f4;
  $triHeight: 20px;
  .mailinglist {
    background-color: $backgroundColor;
  }
  .mailinglist:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $triHeight 100vw $triHeight 0;
    border-color: transparent $backgroundColor transparent transparent;
    top: -1 * $triHeight;
    z-index: 0;
  }
}

.template-marketing {
  .hero {
    @extend .cover;
    @extend .white;
    @extend .flex;
    @extend .flex-column;
    padding-top: 72px; //12vh;
    padding-bottom: 48px; //12vh;

    &.simple {
      padding-top: 72px; //12vh;
      padding-bottom: 48px; //12vh;
    }

    h2 {
      margin: 0;
    }

    .container {
      @extend .w-100;
    }
  }
}

a.strong-link {
  @extend .dib;
  @extend .link;
  @extend .graphile-red;
  @extend .underline-hover;
  @extend .b;
  @extend .ttu;
  .postgraphile &,
  .training & {
    @extend .postgraphile-blue;
  }
}

a.strong-link--white {
  @extend .dib;
  @extend .link;
  @extend .white;
  @extend .underline-hover;
  @extend .b;
  @extend .ttu;
}

blockquote {
  @extend .gray;
  @extend .ml0;
  @extend .pl3;
  border-left: 0.3rem solid rgba(0, 0, 0, 0.1);
}

// ----------------------------------------
// Code

pre[class*="language-"] {
  @extend .pa3;
  @extend .pt4;
  @extend .pb4;
  @extend .mt0;
  @extend .mb0;
  @extend .ml0;
  @extend .mr0;
  @extend .br1;
  @extend .f5-ns;
  @extend .f6;
  @extend .lh-copy;
}

.code,
code,
pre[class*="language-"] {
  @extend .code;
}

pre code {
  font-size: 0.95em;
}

// Prevent ligatures in code
code {
  font-feature-settings: initial;
}

.gatsby-highlight-code-line {
  background-color: #feb;
  border-left: 0.25em solid #f99;
  display: block;
  margin-left: -1em;
  margin-right: -1em;
  padding-left: 0.75em;
  padding-right: 1em;
}
.gatsby-highlight-code-line .gatsby-highlight-code-line {
  /* Work around bug in gatsby code lines */
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.gatsby-highlight {
  @extend .mb4;
}

p,
span,
ul,
ol {
  code {
    background: RGBA(0, 0, 0, 0.07);
    border-radius: 0.3em;
    padding: 0.05em 0.3em;
  }
}

ul,
ol {
  p {
    margin: 0;
    padding: 0;
  }
}

pre code {
  font-variant: none;
  background: none;
  border-radius: initial;
  padding: initial;
}

pre {
  box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.16);
}
pre.no-shadow {
  box-shadow: none;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: 0.95em;
}

// ----------------------------------------
// Inputs

.button-common {
  @extend .b;
  @extend .ba;
  @extend .br2;
  @extend .bw1;
  @extend .dib;
  @extend .dim;
  @extend .f6-ns;
  @extend .f7;
  @extend .input-reset;
  @extend .link;
  @extend .mb2;
  @extend .no-underline-hover;
  @extend .ph3;
  @extend .pointer;
  @extend .pv2;
  @extend .ttu;
}

.button--outline {
  @extend .button-common;
  @extend .b--graphile-red;
  @extend .graphile-red;
  .postgraphile &,
  .training & {
    @extend .button-common;
    @extend .b--postgraphile-blue;
    @extend .postgraphile-blue;
  }
}

.button--solid {
  @extend .button-common;
  @extend .b--graphile-red;
  @extend .bg-graphile-red;
  @extend .white;
  .postgraphile &,
  .training & {
    @extend .button-common;
    @extend .b--postgraphile-blue;
    @extend .bg-postgraphile-blue;
    @extend .white;
  }
}

.button--outline-light {
  @extend .button-common;
  @extend .white;
}

.button--solid-light {
  color: #9e1e1b;
  @extend .button-common;
  @extend .b--white;
  @extend .bg-white;
}

.input-text {
  @extend .ba;
  @extend .b-focus--graphile-red;
  @extend .br2;
  @extend .f6-ns;
  @extend .f7;
  @extend .input-reset;
  @extend .ph3;
  @extend .pv2;
  .postgraphile & {
    @extend .b-focus--postgraphile-blue;
  }
}

.label--small {
  @extend .f6;
  @extend .fw6;
}

.pricing-table {
  width: 100%;
  border-collapse: collapse;
}
.pricing-table td,
.pricing-table th {
  width: 25%;
}
.pricing-table thead th {
  @extend .f3;
  @extend .pb3;
  border-bottom: 2px solid #a51b1b;
}
.pricing-table tbody th,
.pricing-table tbody td {
  @extend .pv3;
  @extend .ph1;
}
.pricing-table tbody tr {
  border-bottom: 1px solid #a51b1b;
}
.pricing-table tbody tr:last-child th,
.pricing-table tbody tr:last-child td {
  border-bottom: none;
}
.pricing-table tbody th,
.pricing-table tfoot th {
  text-align: right;
}
.pricing-table tbody td,
.pricing-table tfoot td {
  text-align: center;
}
.pricing-table .fa-check-circle,
.pricing-table .fa-times-circle {
  @extend .f3;
}
.pricing-table .fa-check-circle {
  color: green;
}
.pricing-table .fa-times-circle {
  color: red;
}
.pricing-table .note {
  @extend .pt2;
  color: #555;
  display: block;
}
.pricing-table .button--outline,
.pricing-table .button--solid {
  width: 80%;
}

.edit-this-page {
  @extend .f6;
  float: right;
  margin: 0.5rem;
}

@media screen and (max-width: 36em) {
  .pricing-table {
    thead {
      display: none;
    }
    tbody,
    thead,
    tfoot {
      td,
      th,
      tr {
        display: block;
        width: auto;
        text-align: center;
      }
    }
    tbody,
    tfoot {
      tr {
        padding: 1rem 0.5rem;
      }
      td,
      th {
        padding: 0;
        margin: 0.5rem 0 0 0;
        position: relative;
        padding-left: 40%;
      }
      td::before {
        content: "Placeholder";
        position: absolute;
        left: 0.5rem;
        top: 0;
        font-variant: small-caps;
        font-size: 1.2em;
      }
      td:nth-of-type(1)::before {
        content: "Core";
      }
      td:nth-of-type(2)::before {
        content: "Supporter";
      }
      td:nth-of-type(3)::before {
        content: "Pro";
      }
    }
  }
}

.plan-tag {
  background-color: lime;
  color: white !important;
  font-size: 0.65rem;
  border-radius: 1em;
  padding: 0.2em 0.7em 0.3em;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
  font-weight: normal;
}

.plan-supporter {
  @extend .plan-tag;
  background-color: #4d4dff;
}

.plan-pro {
  @extend .plan-tag;
  background-color: #c511c5;
}
.plan-enterprise {
  @extend .plan-tag;
  background-color: green;
}
.sidebar {
  .plan-tag .rest {
    display: none;
  }
}

// ----------------------------------------
// Misc media queries

@media screen and (max-width: 50em) {
  .template-home .top-section {
    &:after,
    &:before {
      left: 50%;
    }
  }
  .template-marketing-hero {
    &:after {
      transform: translate(0, 0) rotate(20deg);
    }
    &:before {
      transform: translate(0, -50%) rotate(-20deg);
    }
  }
}

@media screen and (max-width: 30em) {
  .template-home .top-section {
    &:after,
    &:before {
      left: 50%;
    }
  }
  .template-marketing-hero {
    &:after {
      transform: translate(0, 0) rotate(15deg);
    }
    &:before {
      transform: translate(0, -50%) rotate(-15deg);
    }
  }

  .template-marketing {
    $triHeightSm: 10px;
    section:after {
      border-width: $triHeightSm 100vw $triHeightSm 0;
      top: -1 * $triHeightSm;
    }
  }
}

.template-home {
  pre {
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    white-space: pre-wrap;
    padding-left: 1.7rem;
    text-indent: -1.2rem;
  }
  .top-section {
    @extend .template-marketing-hero;
    background: linear-gradient(85deg, #0e457d 0%, #0e385e 100%);
    &:before {
      background: #0c457e;
    }
    &:after {
      background: #0e4c86;
    }
    color: white;
    p {
      color: white;
    }
  }
  .top-section {
    .box-content {
      min-height: 600px;
    }
  }
  .top-section,
  .bottom-section {
    .box-content {
      position: relative;
      z-index: 1;
      max-width: 1200px;
      margin: 0 auto;
      padding: 3rem 1rem 1rem;
      display: flex;
      flex-wrap: wrap;
      .logo {
        flex: 1 0 10rem;
        margin: 0 2rem;
        min-height: 10rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 0%;
      }
      .text {
        flex: 1 0 18rem;
        max-width: 100%;
      }
    }
    &.postgraphile .text {
      flex: 1 0 20rem;
    }
    &.postgraphile .logo {
      flex: 1 0 15rem;
      min-height: 15rem;
      background-image: url("../../logos/postgraphile.optimized.svg");
    }
    .graphile {
      //background: linear-gradient(85deg, #a51b1b 0%, #7d2424 100%);
      background: linear-gradient(135deg, #f8eeee 0%, #eec4c4 100%);
    }
    .training {
      background: linear-gradient(135deg, #ddeffd 0%, #bcdaf5 100%);
    }
    .graphile .logo {
      background-image: url("../../logos/graphile.optimized.svg");
    }
    .training .logo {
      background-image: url("https://www.graphql-training.com/images/brain-medium.png");
    }
  }
  .bottom-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .box {
      display: flex;
      flex-direction: column;
      min-width: 300px;
    }
    .box-content {
      max-width: 640px;
      flex: 1 0 auto;
    }
    .cta {
      text-align: center;
      padding: 0 0 2rem 0;
    }
  }
  .bottom-section .box {
    flex: 1 0 0;
  }
}
@media screen and (max-width: 700px) {
  .template-home {
    .top-section.postgraphile {
      &:after {
      }
    }
  }
}

.postgraphile-graphs-requests-per-second, .postgraphile-graphs-memory-usage, .postgraphile-graphs-average-latency, .postgraphile-graphs-average-latency-label {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  min-height: 240px;
}

.postgraphile-graphs-average-latency {
  background-image: url("../../static/images/v4-average-latency.png");
}

.postgraphile-graphs-average-latency-label {
  background-image: url("../../static/images/v4-average-latency-with-label.png");
}

.postgraphile-graphs-requests-per-second {
  background-image: url("../../static/images/v4-requests-per-second.png");
}

.postgraphile-graphs-memory-usage {
  background-image: url("../../static/images/v4-memory-usage.png");
}

.postgraphile-logo-bg {
  background-image: url("../../logos/postgraphile.optimized.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  min-height: 240px;
}
.graphile-logo-bg {
  background-image: url("../../logos/graphile.optimized.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  min-height: 240px;
}
a.inherit-color {
  color: inherit;
}
.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

#___gatsby {
  &:focus,
  & > div:focus {
    outline: none;
  }
}
