@import "./tachyons.scss";
@import "./navbar.scss";

$graphileRed: #E44336;
$backgroundImage: "/images/delaunay.png";

// ----------------------------------------
// Globals

body {
  // @extend .debug-grid;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .helvetica;
  @extend .lh-title;
  @extend .mt3;
  @extend .measure;
  @extend .fw6;
}

h1 {
  @extend .mb4-ns;
  @extend .mb3;
}

h2,
h3,
h4,
h5,
h6 {
  @extend .mb3-ns;
  @extend .mb2;
}

.hero {
  h2,
  h3,
  h4,
  h5 {
    @extend .fw4;
  }
}

section {
  position: relative;
}

h1 {
  @extend .f1-ns;
  @extend .f2;
}

h2 {
  @extend .f2-ns;
  @extend .f3;
}

h3 {
  @extend .f3-ns;
  @extend .f4;

}
h4 {
  @extend .f4-ns;
  @extend .f5;
}

h5 {
  @extend .f5-ns;
  @extend .f6;
}

h6 {
  @extend .f6-ns;
  @extend .f7;
}

p {
  @extend .f5-ns;
  @extend .f6;
  @extend .lh-copy;
  @extend .measure;
  @extend .mb4-ns;
  @extend .mt4-ns;
}

.page-content {
  section {
    @extend .bg-white;
    @extend .pt6-ns;
    @extend .pt5;
    @extend .pb6-ns;
    @extend .pb5;
  }

  ul {
    padding-left: 1.2rem
  }
}

.page-content li,
footer li {
  @extend .f5-ns;
  @extend .f6;
  @extend .lh-copy;
  @extend .mb1;
  @extend .measure
}

a {
  @extend .graphile-red;
  @extend .no-underline;
  @extend .underline-hover;
}

.intro {
  @extend .mb5;
  @extend .avenir;
  @extend .f4;
  @extend .i;
}

.gatsby-resp-image-wrapper[style] {
  z-index: 0 !important;
}

// ----------------------------------------

.hero-block {
  @extend .flex;
  @extend .flex-column;

  .title {
    @extend .ma0;
    @extend .f-subheadline-m;
    @extend .f-headline-l;
    @extend .lh-title;
    @extend .tracked-tight;
  }
}

.sidebar.sidebar {
  section {
    @extend .pt0;
    @extend .pb0;
  }
}

.sidebar .page-list {
  @extend .pa0;
}


.template-marketing {
  $triHeight: 20px;
  $backgroundColor: #f4f4f4;

  position: relative;
  background: linear-gradient(85deg, #a51b1b 0%, #7d2424 100%);

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 43%;
    height: 100vh;
    background-image: linear-gradient(117deg, transparent 50%, #9c2828 0);
    background-color: transparent;
    z-index: 0;
    top: 0;
    right: 0;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 31%;
    height: 100vh;
    background-image: linear-gradient(66deg, transparent 50%, #922323 0);
    background-color: transparent;
    z-index: 0;
    top: -34vh;
    right: 0;
  }

  section:nth-child(even):not(.no-highlight) {
    background-color: $backgroundColor;
  }

  .page-content {
    position: relative;
    z-index: 1;
  }

  section:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $triHeight 100vw $triHeight 0;
    border-color: transparent $backgroundColor transparent transparent;
    top: -1 * $triHeight;
    z-index: 0;
  }
}

.container {
  @extend .mw8;
}

.template-page {
  min-height: 100vh;
}

.template-marketing {
  .hero {
    @extend .cover;
    @extend .white;
    @extend .flex;
    @extend .flex-column;
    padding-bottom: 12vh;
    padding-top: 12vh;

    &.simple {
      padding-bottom: 12vh;
      padding-top: 12vh;
    }

    h2 { margin: 0; }

    .container {
      @extend .w-100;
    }
  }
}

a.strong-link {
  @extend .dib;
  @extend .link;
  @extend .graphile-red;
  @extend .underline-hover;
  @extend .b;
  @extend .ttu;
}

a.strong-link--white {
  @extend .dib;
  @extend .link;
  @extend .white;
  @extend .underline-hover;
  @extend .b;
  @extend .ttu;
}

blockquote {
  @extend .gray;
  @extend .ml0;
  @extend .pl3;
  border-left: 0.3rem solid rgba(0, 0, 0, 0.1);
}

// ----------------------------------------
// Code

pre[class*="language-"] {
  @extend .pa3;
  @extend .pt4;
  @extend .pb4;
  @extend .mt0;
  @extend .mb0;
  @extend .ml0;
  @extend .mr0;
  @extend .br1;
  @extend .f5-ns;
  @extend .f6;
  @extend .lh-copy;
}

.code,
code,
pre[class*="language-"] {
  @extend .code;
}

// Prevent ligatures in code
code {
  font-feature-settings: initial;
}

.gatsby-highlight-code-line {
  background-color: #feb;
  border-left: 0.25em solid #f99;
  display: block;
  margin-left: -1em;
  margin-right: -1em;
  padding-left: 0.75em;
  padding-right: 1em;
}

.gatsby-highlight {
  @extend .mb4;
}

p,
span,
ul,
ol {
  code {
    background: RGBA(0,0,0,0.07);
    border-radius: 0.3em;
    padding: 0.05em 0.3em;
  }
}

pre code {
  font-variant: none;
  background: none;
  border-radius: initial;
  padding: initial;
}

pre {
  box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.16);
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  font-size: 0.95em;
}

// ----------------------------------------
// Inputs

.button-common {
  @extend .b;
  @extend .ba;
  @extend .br2;
  @extend .bw1;
  @extend .dib;
  @extend .dim;
  @extend .f6-ns;
  @extend .f7;
  @extend .input-reset;
  @extend .link;
  @extend .mb2;
  @extend .no-underline-hover;
  @extend .ph3;
  @extend .pointer;
  @extend .pv2;
  @extend .ttu;
}

.button--outline {
  @extend .button-common;
  @extend .b--graphile-red;
  @extend .graphile-red;
}

.button--solid {
  @extend .button-common;
  @extend .b--graphile-red;
  @extend .bg-graphile-red;
  @extend .white;
}

.button--outline-light {
  @extend .button-common;
  @extend .white;
}

.button--solid-light {
  color: #9E1E1B;
  @extend .button-common;
  @extend .b--white;
  @extend .bg-white;
}

.input-text {
  @extend .ba;
  @extend .b-focus--graphile-red;
  @extend .br2;
  @extend .f6-ns;
  @extend .f7;
  @extend .input-reset;
  @extend .ph3;
  @extend .pv2;
}

.label--small {
  @extend .f6;
  @extend .fw6;
}

// ----------------------------------------
// Misc media queries

@media screen and (max-width: 30em) {
  .template-marketing {
    background: linear-gradient(85deg, #a51b1b 0%, #7d2424 100%);

    &:after {
      top: -6vh;
    }

    &:before {
      top: -42vh;
    }

    $triHeightSm: 10px;
    section:after {
      border-width: $triHeightSm 100vw $triHeightSm 0;
      top: -1 * $triHeightSm;
    }
  }
}
