@import "./tachyons.scss";

// .navbar-item {
//   height: 2.4rem;
// }

.github-icon {
  font-size: 1.5em;
}

.home-icon {
  font-size: 1.5em;
}

.header {
  @extend .bg-dark-gray;
}

.navbar {
  @extend .w-100;
  @extend .bg-transparent;
  @extend .b--black-05;
}

.navbar-item {
  @extend .navbar-item;
  @extend .items-center;
  @extend .flex;
  @extend .f5;
  @extend .link;
  @extend .black-70;
  @extend .mr3;
  @extend .dib;
  @extend .f7;
  @extend .tracked;
}

.navbar-item-right {
  margin-right: 0;
  @extend .ml3;
}

.header {
  .nav-link {
    @extend .dim;
    @extend .no-underline;
    @extend .mr3;
    @extend .lh-copy;
    @extend .white;
    @extend .ttu;

    &:hover {
      text-decoration: none;
    }
  }
}

.template-marketing {
  .header {
    @extend .bg-transparent;
  }

  .nav-link {

    &.active {
      border-bottom: 1px solid white;
    }
  }
}

.home,
.github {
  display: none;
}

// ----------------------------------------
// Search

#search-box {
  @extend .pt1;
  @extend .pb1;
  @extend .pl4;
  @extend .pr3;
  @extend .ba;
  @extend .br-pill;
  @extend .b--black-60;
  @extend .b-focus--graphile-red;
  @extend .f5;
}

.searchbox-container {
  @extend .flex;
  @extend .flex-row-reverse;
  @extend .items-center;
}

.searchbox-search {
  color: black;
  opacity: 0.4;
  margin-right: -1.6rem;
  font-size: 1.1em;
}

// ----------------------------------------
// Toggler

$toggleSize: 1.2rem;
$heightIcon: $toggleSize;
$widthLine: $heightIcon;
$heightLine: 4px;
$transitionTime: 0.3s;
$rotation: 45deg;
$translateY: ($heightIcon / 2);
$translateX: 0;
$lineColor: white;

.navbar-toggler {
  background: transparent;
  border: 0;
  height: $toggleSize;
  left: 1rem;
  opacity: 0.5;
  order: 1;
  position: absolute;
  width: $toggleSize;
}

.navbar-toggler,
.navbar-crosses {
  top: 0.5rem;
}

.navbar-crosses {
  background: transparent;
  position: absolute;
  left: 1rem;
  pointer-events: none;
  height: $heightIcon;
  width: $widthLine;

  .line {
    background: $lineColor;
    border-radius: ($heightLine / 2);
    display: block;
    height: $heightLine;
    left: 0;
    position: absolute;
    transition: all $transitionTime;
    width: $widthLine;
  }

  .line-1 { top: 0; }
  .line-2 { top: 50%; }
  .line-3 { top: 100%; }
}

.navbar-toggler:checked + .nav-controls .navbar-crosses {
  .line-1 { transform: translateY($translateY) translateX($translateX) rotate($rotation); }
  .line-2 { opacity:0; }
  .line-3 { transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1); }
}

.nav-controls {
  align-items: center;
  display: flex;
}

.navbar-toggler,
.navbar-crosses {
  display: none;
}

// ----------------------------------------
// Media

@media only screen and (max-width: 820px) {
  .navbar-toggler,
  .navbar-crosses {
    display: block;
  }

  .navbar-nav {
    display: none;
    width: 100%;
    margin: 0;
  }

  .navbar .container {
    padding: 0;
  }

  .nav-controls {
    padding-top: 2.4rem;
    background: #333;
  }

  .navbar-toggler:checked + .nav-controls .navbar-nav {
    display: flex;
    opacity: 1;
    box-shadow: 0 10px 13px -4px rgba(0, 0, 0, 0.5);
  }

  .navbar-nav .navbar-item {
    display: flex;
    //border-top: 1px solid #4d4d4d;
    padding: 0 1rem;
    margin: 0;
    height: 3rem;

    .home,
    .github {
      display: inline;
      margin-left: 0.5rem;
    }
  }

  .navbar-nav {
    flex-direction: column;
  }

  .searchbox-container,
  .algolia-autocomplete,
  #search-box {
    margin: 0;
  }

  #search-box {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}
